*{
    background-color: rgb(146, 220, 238);
}
p {
    font-family: "Times New Roman", Times, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
h2 {
     font-family: 'Times New Roman', Times, Arial, Helvetica, sans-serif;
   }



