*{
    margin: 0px;
    padding: 0px;
}
.header{    
    background-image: url(Images/banner.png);
    background-size: cover;
    background-position: center;
}
.nav{
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
}
nav img{
    width: 150px;
    text-align: right;
    position: center;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    color: rgb(27, 23, 23);
    font-size: 18px;
}
.nav-links ul li a{
    color: rgb(230, 222, 222);
    text-decoration: none;
}
#main{
    color: rgb(0, 0, 0);
    font-size: 20px;
    text-align: center;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(232, 237, 243);
    border : 1px solid rgb(236, 104, 126);
    padding: 10px 10px;
    background: transparent;
    position: initial;
    cursor: pointer;
    font-size: medium;
}   
.hero-btn:hover{
    border: 1px solid crimson;
    background: rgb(169, 144, 194);
    transition: 1s;
}
.text-box{
    position: relative;
    color: rgb(28, 31, 30);
    text-align: center;
    font-size: xx-large;
    border: 5px;
}